{% style %}
  :root{
    --logo-size: {{ section.settings.logo_size }}px;
    --nav-gap-size: {{ section.settings.nav_gap }}px;
    --menu-padding: {{ section.settings.menu_padding }}px;
    --header-height: {{ section.settings.header_height }};
  }
{% endstyle %}
<link rel="stylesheet"
      href="{{ 'section-header.css' | asset_url }}"
      media="print"
      onload="this.media='all'">
<link rel="stylesheet"
      href="{{ 'component-menu-drawer.css' | asset_url }}"
      media="print"
      onload="this.media='all'">
<link rel="stylesheet"
      href="{{ 'component-header-search-results.css' | asset_url }}"
      media="print"
      onload="this.media='all'">

<sticky-header class="header-wrapper {% if template == 'index' %}transparent{% endif %}">
  <header id="header" class="header" data-id="{{ section.id }}">
    <div class="container">
      <div class="header-inner">
        <a href="{{ routes.root_url }}" class="header-logo">
          {%- if section.settings.logo != blank -%}
            <div class="header-logo_img">
              {% render 'image', image: section.settings.logo %}
            </div>
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}
        </a>

        <div class="header-nav">
          {%- if linklists[section.settings.menu] != blank -%}
            {% render 'header-menu-desktop' %}
            {% render 'header-menu-mobile' %}

          {%- endif -%}

          {% render 'header-account' %}

          {% render 'cart' %}

        </div>
      </div>
    </div>
  </header>
</sticky-header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "id": "logo_size",
      "label": "Logo size (px)",
      "type": "number",
      "default": 150
    },
    {
      "id": "nav_gap",
      "label": "Gap between nav elements (px)",
      "type": "number",
      "default": 15
    },
    {
      "id": "menu_padding",
      "label": "Menu elements horizontal padding (px)",
      "type": "number",
      "default": 10
    },
    {
      "id": "header_height",
      "label": "Headers height (px)",
      "type": "text",
      "default": "90px"
    }
  ]
}
{% endschema %}
