{% style %}
  :root{
    /* Collections vars */

    --col-grid-columns: repeat({{ settings.columns_count }}, 1fr);
    --col-grid-columns-tab: repeat({{ settings.columns_count_tab }}, 1fr);
    --col-grid-columns-mob: repeat({{ settings.columns_count_mob }}, 1fr);
    --col-grid-gap: {{ settings.columns_gap }}px;
    --col-grid-gap-tab: {{ settings.columns_gap_tab }}px;
    --col-grid-gap-mob: {{ settings.columns_gap_mob }}px;
  }
{% endstyle %}
{{ 'section-main-collection.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet"  href="{{ 'section-main-collection-tab.css' | asset_url }}" media="print" onload="this.media='all and (max-width: {{ settings.breakpoint_tablet }}px)'">
<link rel="stylesheet"  href="{{ 'section-main-collection-mob.css' | asset_url }}" media="print" onload="this.media='all and (max-width: {{ settings.breakpoint_mobile }}px)'">
  {% paginate collection.products by section.settings.item_per_page %}
    {%- if collection.products.size == 0 -%}
      <div class="container">
        <h2>
          {{ 'collections.general.no_matches' | t }}<br>
        </h2>
      </div>
    {%- else -%}
      <div class="container">
        <div class="collection-filter">
          <form class="filter-form">
            {%- for filter in collection.filters -%}
              <details class="filter-group">
                <summary class="filter-group-summary">
                  <div>
                    <span>{{ filter.label }}</span>

                    {%- if filter.active_values.size > 0 -%}
                      <span>({{ filter.active_values.size }})</span>
                    {%- endif -%}
                  </div>
                </summary>

                <div class="filter-group-display">
                  <div class="filter-group-display__header">
                    <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

                    {%- if filter.active_values.size > 0 -%}
                      <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
                    {%- endif -%}
                  </div>

                  {%- case filter.type -%}
                    {%- when 'list' -%}
                      <ul class="filter-group-display__list">
                        {%- for filter_value in filter.values -%}
                          <li class="filter-group-display__list-item">
                            <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                              <input type="checkbox"
                                     name="{{ filter_value.param_name }}"
                                     value="{{ filter_value.value }}"
                                     id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                     {% if filter_value.active -%}checked{%- endif %}
                                {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                              >{{ filter_value.label }}</label>
                          </li>
                        {%- endfor -%}
                      </ul>

                      <div class="filter-group-display__submit">
                        <input type="submit" value="Apply">
                      </div>
                    {%- when 'price_range' -%}
                      <div class="filter-group-display__price-range">
                        <div class="filter-group-display__price-range-from">
                          <span>{{ cart.currency.symbol }}</span>

                          <input name="{{ filter.min_value.param_name }}"
                                 id="Filter-{{ filter.min_value.param_name }}"
                            {% if filter.min_value.value -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                            {%- endif %}
                                 type="number"
                                 placeholder="0"
                                 min="0"
                                 max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >

                          <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                        </div>
                        <div class="filter-group-display__price-range-to">
                          <span>{{ cart.currency.symbol }}</span>

                          <input name="{{ filter.max_value.param_name }}"
                                 id="Filter-{{ filter.max_value.param_name }}"
                            {% if filter.max_value.value -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                            {%- endif %}
                                 type="number"
                                 placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                 min="0"
                                 max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >

                          <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                        </div>
                      </div>

                      <div class="filter-group-display__submit">
                        <input type="submit" value="Apply">
                      </div>
                  {%- endcase -%}
                </div>
              </details>
            {%- endfor -%}

            <div class="active-filters">
              <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear
                all</a>

              {%- for filter in collection.filters -%}
                {%- if filter.type == "price_range" -%}
                  {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                    <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                      {%- assign min_value = filter.min_value.value | default: 0 -%}
                      {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                      {{ min_value | money }} - {{ max_value | money }} X
                    </a>
                  {%- endif -%}
                {%- else -%}
                  {%- for filter_value in filter.active_values -%}
                    <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                      {{ filter_value.label }} X
                    </a>
                  {%- endfor -%}
                {%- endif - %}
              {%- endfor -%}
            </div>
          </form>
        </div>

        <div class="collection">
          {% for product in collection.products %}
            <a href="/products/{{ product.handle }}" class="collection-item">
              <div class="collection-item_img">
                <img src="{{ product.featured_image |  image_url }}" alt="">
              </div>
              <div class="collection-item_body">
                <div class="collection-item_title">
                  <h3>{{ product.title }}</h3>
                  <span>{{ product.price | money }}</span>
                </div>
                <div class="collection-item_description"></div>
              </div>
            </a>
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <div class="pagination">
            {{ paginate | default_pagination }}
          </div>
        {% endif %}
      </div>
    {%- endif -%}
  {% endpaginate %}


  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "class": "default-collection",
    "settings": [
      {
        "id": "item_per_page",
        "type": "number",
        "label": "Items count pre page"
      },
      {
        "id": "columns_count",
        "type": "number",
        "label": "Number of columns in collections grid",
        "default": 3
      },
      {
        "id": "columns_gap",
        "type": "number",
        "label": "Gaps in collections grid (px)",
        "default": 20
      },
      {
        "id": "columns_count_tab",
        "type": "number",
        "label": "Columns count on tablet",
        "default": 2
      },
      {
        "id": "columns_gap_tab",
        "type": "number",
        "label": "Gaps in collections grid on tablet(px)",
        "default": 20
      },
      {
        "id": "columns_count_mob",
        "type": "number",
        "label": "Columns count on mobile",
        "default": 1
      },
      {
        "id": "columns_gap_mob",
        "type": "number",
        "label": "Gaps in collections grid on mobile (px)",
        "default": 20
      }
    ]
  }
  {% endschema %}
