<link rel="stylesheet" href="{{ 'snippet-cart.css' | asset_url }}" media="print" onload="this.media='all'">
<custom-cart>
  <div class="cart-icon" data-count="{{ cart.items_count }}">
    {% case settings.cart_icon   %}
      {% when 'cart_1' %}{% render 'icon-bag' %}
      {% when 'cart_2' %}{% render 'icon-bag-2' %}
    {% endcase %}
  </div>
  <div class="popup">
    <div class="cart-popup">
      <div class="cart-popup_head">
        <div class="title">Cart</div>
        <div class="counter">{{ cart.item_count }}</div>
      </div>
      <form class="cart-popup_body" action="/cart/update.js">

      </form>
      <div class="cart-popup_footer"></div>
    </div>
  </div>
  <template>
    <div class="cart-item">
      <input type="hidden"
             class="item_id"
             name="id_"
             value=""
             form="product-form-">
      <div class="cart-item_img">
      </div>
      <div class="cart-item_info">
        <div class="title">
        </div>
        <div class="price">
          <div class="current">{{ item.price | money }}</div>
          <div class="original">{{ item.variant.compare_at_price | money }}</div>
        </div>
        <quantity-input class="quantity custom">
          <button class="quantity__button no-js-hidden" name="minus" type="button">
            {% render 'icon-minus' %}
          </button>
          <input class="quantity__input"
                 type="number"
                 name="quantity_{{ item.index }}"
                 id="Quantity-{{ section.id }}"
                 min="1"
                 value="{{ item.quantity }}"
                 form="product-form-{{ section.id }}"
          >
          <button class="quantity__button no-js-hidden" name="plus" type="button">
            {% render 'icon-plus' %}
          </button>
        </quantity-input>
      </div>
      <i class="customIcon icon-trash delete"></i>
    </div>
  </template>
</custom-cart>

<script src="{{ 'cart.js' | asset_url }}" defer></script>
